.header{
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 2;
  animation: animation-bar linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
  
  .iconFloat__nav{
    display: none;
  }
  
  .navbar{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .navbar__logo{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-image: url('../jaruLogo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .navbar__list{
      display: flex;
      gap: 1em;
      font-weight: 700;
    }

    .navbar__toggles{
      display: flex;
      gap: 1em;
      
      .navbar__toggle{
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }

      .navbar__toggle--darkmode{
        background-image: url('../sol.png');
      }
      
      .navbar__toggle--lenguaje{
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@keyframes animation-bar {
  to {
    background-color: #001D3D;
    box-shadow: 0 4px 4px #00000040;
    backdrop-filter: 10px;
  }
}

@media (max-width: 480px) {

  .header{
    height: 60vh;
    width: 100%;
    background-color: #001D3D;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 10px #00000040;
    
    .navbar{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      position: relative;
      
      .iconFloat__nav{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2em;
        color: red;
      }

      .navbar__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
      }
    }
  }

  .showNavBar-false{
    transform: translateY(-1000px);
    transition: ease .5s;
  }
  .showNavBar-true{
    transform: translateY(0px);
    transition: ease .5s;
  }
}

