.hero{
  height: 100vh;
  width: 100%;
  position: relative;

  .hero__container{
    position: absolute;
    width: 50%;
    height: 55%;
    top: 65%;
    transform: translateY(-65%);
    left: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .hero__info{
      width: 100%;
      height: 100%;
      .hero__highlight{
        color: #FFD60A;
        text-decoration: underline;
      }
      .hero__tittle{
        width: 100%;
        font-size: 4.8em;
      }
      .hero__text{
        font-size: 1.3em;
      }
    }

    .hero__list{
      display: flex;
      justify-content: center;
      gap: 3.5em;

      .hero__item{

        .hero__link{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: .7em;

          .hero__link--img{

            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .hero__logo{
    position: absolute;
    width: 26%;
    border-radius: 50%;
    right: 13%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .hero__line{
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #FFD60A;
    width: 26%;

  }

  .hero__bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    border-radius:0% 100% 0% 100% / 100% 97% 3% 0% ;
    background-color: #003566;
    box-shadow: 0 -7px 4px #00000040;
    z-index: 1;
  }
}