.hero{
  height: 100vh;
  width: 100%;
  position: relative;

  .hero__container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;

    .hero__info--container{
      display: flex;
      flex-direction: column;
      margin: 0 25% 0 auto;
        .hero__info{
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        height: 100%;
        text-wrap: nowrap;
        .hero__highlight{
          color: #FFD60A;
          text-decoration: underline;
        }
        .hero__tittle{
          height: 1.2em;
          font-size: 4.5em;
          animation: principalText;
          animation-duration: 2s;
          
        }
        .hero__text{
          font-size: 1.3em;
        }
      }
    }
    
    .hero__list{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3.5em;
      grid-row-start: 2;
      grid-row-end: 3;

      .hero__item{

        .hero__link{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: .7em;
          
          &:hover{
            transform: scale(1.2);
            transition: ease .3s;
          }

          .hero__link--img{

            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  
  .hero__line{
    display: flex;
    justify-self: end;
    height: 100%;
    background-color: #FFD60A;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
    .hero__logo{
      width: 350px;
      height: 350px;
      border-radius: 50%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      position: absolute;
      transform: translateX(-50%);
    }
  }

  .hero__bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    border-radius:0% 100% 0% 100% / 100% 97% 3% 0% ;
    background-color: #003566;
    box-shadow: 0 -7px 4px #00000040;
    z-index: 1;
  }
}

@keyframes principalText{
  from{
    transform: translateX(-3000px);
  }
  to{
    transform: translateX(0px);
  }
}

@keyframes moving {
  from{
    opacity: 0;
  }
  to{
    opacity: 100%;
  }
}

@media (max-width: 970px) {

  .hero{
    .hero__container{
      .hero__info--container{
        .hero__info{
          .hero__tittle{
            font-size: 3em;
          }
          .hero__text{
            font-size: .8em;
          }
        }
      }
    }
    .hero__line{
      
      .hero__logo{
        width: 180px;
        height: 180px;
      }
    }
  }
}
@media (max-width: 700px) {

  .hero{
    .hero__container{
      .hero__info--container{
        .hero__info{
          .hero__tittle{
            font-size: 2.5em;
          }
          .hero__text{
            font-size: .8em;
          }
        }
      }
      .hero__list{
        gap: 1em;

        .hero__item{

          .hero__link{

            .hero__link--img{
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    .hero__line{
      width: 100%;
      
      .hero__logo{
        width: 120px;
        height: 120px;
      }
    }
  }
}

@media (max-width: 480px) {

  .hero{
    .hero__container{
      position: relative;
      .hero__info--container{
        margin: 0 auto;
        .hero__info{
          margin:0  auto;
          .hero__tittle{
            font-size: 2.8em;
          }
          .hero__text{
            font-size: .84em;
          }
        }
      }
      .hero__list{
        .hero__item{

          .hero__link{

            .hero__link--img{
              width: 45px;
              height: 45px;
            }
          }
        }
      }
    }
    .hero__line{
      display: hidden;
      grid-row-start: 1;
      grid-row-end: 4;
      .hero__logo{ 
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 220px;
        height: 220px;
      }
    }
  }
}
